.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/*
androidHorizontalListView/build/*
multipleImagePick/build/*
konotorActivity/build/*
app/build/*
facebook/build/*
facebook/gen/*
app/proguard\\classes.txt
app/proguard\\seeds.txt
app/proguard\\configuration.txt
floatingActionButton/build/*
