.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/*
androidHorizontalListView/build/*
multipleImagePick/build/*
konotorActivity/build/*
app/build/*
facebook/build/*
facebook/gen/*
