.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/*
androidHorizontalListView/build/*
multipleImagePick/build/*
konotorActivity/build/*
app/build/*
facebook/build/*
facebook/gen/*
app/proguard\\classes.txt
app/proguard\\seeds.txt
app/proguard\\configuration.txt
floatingActionButton/build/*
*.iml
import-summary.txt
gradle/local.properties
moEngageSDK/build/*
moEngage/build/*
androidViewPagerIndicator/build/*
contactsMultiPickerLibrary/build/*
androidImageSlider/build/*
app/manifest-merger-release-report.txt
moEngageSDKv420/build/*
wibmoSDK/build/*
wibmosdklib/build/*
moEngageSDKv5.0/build/*
captures/*
moengagesdk/build/*
moe-addon-ubox/build/*
