<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bigbasket.mobileapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Needed by Google GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needed by Google GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="com.bigbasket.mobileapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bigbasket.mobileapp.permission.C2D_MESSAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.bigbasket.mobileapp.application.BaseApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BBAppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.product.SearchableActivity" />

        <activity
            android:name="com.bigbasket.mobileapp.activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BBAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bigbasket.mobileapp.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bigbasket.mobileapp" />
            </intent-filter>
        </receiver>

        <service android:name="com.demach.konotor.service.KonotorService" />
        <service android:name="com.demach.konotor.service.KonotorBacklogService" />

        <receiver android:name="com.demach.konotor.KonotorAlarmReceiver" />
        <receiver android:name="com.demach.konotor.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.demach.konotor.KonotorFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.CustomerFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.promo.FlatPageWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- <activity android:name="com.luminous.pick.CustomGalleryActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="luminous.ACTION_PICK" /> -->
        <!-- <action android:name="luminous.ACTION_MULTIPLE_PICK" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name="com.bigbasket.mobileapp.activity.DeepLinkDispatcherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="promo"
                    android:scheme="bigbasket" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="feedback"
                    android:scheme="bigbasket" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="order"
                    android:scheme="bigbasket" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wallet"
                    android:scheme="bigbasket" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bigbasket.mobileapp.activity.base.uiv3.BBActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.product.SearchableActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.PlaceOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.OrderDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.AvailableVoucherListActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name="com.bigbasket.mobileapp.task.UploadImageService"
            android:label="@string/uploadServiceForPrescriptionImage" />

        <activity
            android:name="com.bigbasket.mobileapp.activity.order.MemberAddressFormActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.CheckoutQCActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.PayuTransactionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.account.uiv3.SignInActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.account.uiv3.SignupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.account.base.SocialLoginConfirmActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity
            android:name="com.bigbasket.mobileapp.activity.account.uiv3.OrderListActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.base.uiv3.BackButtonActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.BasketValidationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bigbasket.mobileapp.activity.order.uiv3.AgeValidationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <provider
            android:name="com.bigbasket.mobileapp.contentProvider.SearchSuggestionProvider"
            android:authorities="com.bigbasket.mobileapp.contentProvider.SearchSuggestionProvider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
