<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.bigbasket.mobileapp.devconfig.BBDevConfigActivity"
            android:label="@string/title_activity_settings" android:theme="@style/BackButtonTheme" />
    </application>
</manifest>
